#!/usr/bin/make -f
export QT_SELECT=5
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export USE_SET_ICON_GEOMETRY=1

%:
	dh $@

override_dh_auto_build:
	echo $(CXXFLAGS)
	g++ -o $(CURDIR)/debian/upgrade-utils/desktop-grid/config-parser/paser/meta-conf-parser -DQT_NO_DEBUG_OUTPUT -fPIC $(CXXFLAGS) $(CURDIR)/debian/upgrade-utils/desktop-grid/config-parser/paser/main.cpp `pkg-config --cflags --libs Qt5Core gio-2.0`
	gcc -o $(CURDIR)/debian/upgrade-utils/desktop-grid/meta-get $(CFLAGS) -I$(CURDIR)/debian/upgrade-utils/desktop-grid $(CURDIR)/debian/upgrade-utils/desktop-grid/meta-get.c $(CURDIR)/debian/upgrade-utils/desktop-grid/metatree.c $(CURDIR)/debian/upgrade-utils/desktop-grid/metabuilder.c $(CURDIR)/debian/upgrade-utils/desktop-grid/crc32.c `pkg-config --cflags --libs gio-2.0`
	gcc -o $(CURDIR)/debian/upgrade-utils/desktop-grid/meta-set $(CFLAGS) -I$(CURDIR)/debian/upgrade-utils/desktop-grid $(CURDIR)/debian/upgrade-utils/desktop-grid/meta-set.c $(CURDIR)/debian/upgrade-utils/desktop-grid/metatree.c $(CURDIR)/debian/upgrade-utils/desktop-grid/metabuilder.c $(CURDIR)/debian/upgrade-utils/desktop-grid/crc32.c `pkg-config --cflags --libs gio-2.0`
	dh_auto_build

override_dh_clean:
	dh_clean
	rm -f $(CURDIR)/debian/upgrade-utils/desktop-grid/meta-get
	rm -f $(CURDIR)/debian/upgrade-utils/desktop-grid/meta-set
	rm -f $(CURDIR)/debian/upgrade-utils/desktop-grid/config-parser/paser/meta-conf-parser
